<section class="flex flex-col md:flex-row border shadow rounded">
    <section class="aspect-h-1 aspect-w-1">
    </section>
    <section class="flex flex-col">
        <section class="flex flex-row">
        </section>
        <section>
        </section>
    </section>
</section>


@code {
}
