@page "/insurances/accident"

<InsuranceTemplate Title="بیمه حوادث" Href="https://covid.si24.ir/?agentcod=5168">
    <p><strong><span>بیمه نامه حوادث انفرادی</span></strong></p>
    <p><span>همه ما در زندگی عضو گروه&zwnj;های مختلفی مانند دانش&zwnj;آموزان، دانشجویان، ورزشکاران، کارگران و کارمندان و غیره هستیم. شرکت&nbsp;<strong>بیمه سامان</strong>&nbsp;با توجه به فعالیت روزانه و مشاغل افراد ، بیمه های گوناگونی را جهت رفع نگرانی های ناشی از وقوع حادثه در کلیه لحظه&zwnj;های زندگی ارائه کرده است</span>.&nbsp;<strong><span>بیمه حوادث&nbsp;انفرادی</span></strong><span>&nbsp;سامان پوششی جهت جبران حوادث و وقایع ناگهانی که می تواند منجر به جرح، نقص عضو، از کارافتادگی و یا فوت افراد شود و ممکن است در زندگی هر فردی رخ دهد میباشد. بیمه عمر و حوادث انفرادی سامان شما و خانواده تان را با احتساب تخفیفات خاص و استثنایی در قبال این خطرات و حوادث حفاظت می کند</span>.<br /><strong><span>بیمه سامان</span></strong><span>&nbsp;مفتخر است پوشش های حوادث انفرادی را برای آسایش و رفاه حال هموطنان خود در قالب چندین عنوان بیمه نامه ارائه نماید تا هر شهروند ایرانی و همچنین اتباع مجاز مقیم در ایران، خود و خانواده خود را براساس شرایط مختص به شخص بیمه شده، بیمه نمایند</span>.<br /><span>هر شخص براساس شرایط ونیاز خود می تواند یکی از بیمه نامه های حوادث انفرادی شامل عادی ، دفترچه ای ، کرونا و خانواده را انتخاب نموده و بدون نگرانی آینده خود و سایر ذینفعان بیمه نامه را تضمین نماید</span>.</p>
    <p><span>بیمه نامه حوادث انفرادی، برای پوشش حوادث و وقایع ناگهانی میباشد که میتواند منجر به جرح، نقص عضو، ازکارافتادگی و یا فوت فرد شود و ممکن است در زندگی هر فردی رخ دهد</span>.&nbsp;<strong><span>بیمه سامان</span></strong><span>&nbsp;شما و خانواده تان را در قبال این خطرات و حوادث حفاظت می کند. شما میتوانید این بیمه نامه را برای خود و یا افرد خانواده خود با سرمایه مشخص برای مدت یک سال خریداری نمایند. بیمه&zwnj;نامه حوادث انفرادی در تمام مدت 24 ساعت شبانه روز و در تمام نقاط دنیا معتبر می&zwnj;باشد</span>.</p>
    <p><span>پوشش های قابل ارائه در انواع بیمه نامه های حوادث بسته به نوع بیمه نامه منتخب شما عبارتند از:</span></p>
    <ol>
        <li><span>فوت ناشی از حوادث مختلف مانند خفگی ، غرق شدن ، برق گرفتگی و</span> ...</li>
        <li><span>مسمویت غذایی و یا مسمویت شیمیایی</span></li>
        <li><span>صدمات بدنی ناشی از تاثیر اسید و یا هرگونه ماده خورنده دیگر</span></li>
        <li><span>پیچیدگی یا پاره شدن عضلات و رگها</span></li>
        <li><span>ابتلا به هاری، کزاز و سیاه زخم</span></li>
        <li><span>نقص عضو و از کارافتادگی کامل و دائم ناشی از حادثه (کلی و جزئی)</span></li>
        <li><span>هزینه&zwnj;های پزشکی ناشی از حادثه</span></li>
        <li><span>پوشش حوادث خانواده</span></li>
    </ol>
    <p><strong><span>بیمه حوادث&nbsp;خانواده</span></strong></p>
    <p><span>سرپرست خانواده مهمترین نقش را در پایداری و آسایش خانواده دارد.به همین دلیل شرکت&nbsp;<strong>بیمه سامان</strong>&nbsp;راه&zwnj;های متعددی را برای رفع دغدغه ذهنی پیشنهاد می کنند که یکی از آنها&nbsp;<strong>بیمه حوادث</strong>&nbsp;خانواده می باشد.&nbsp;<strong>بیمه حوادث</strong>&nbsp;خانواده یکی از بیمه نامه&zwnj;هایی که حق بیمه اندکی داشته و پوشش&zwnj;های مناسبی را در قالب طرح&zwnj;های مختلف ارائه می&zwnj;کند.</span></p>
    <p><span>در&nbsp;<strong>بیمه نامه حوادث خانواده&nbsp;</strong>سرپرست خانواده با پرداخت حق&zwnj;بیمه، کلیه افراد خانواده را در مقابل حوادث بیمه می&zwnj;نماید. در&nbsp;<strong>بیمه حوادث</strong>&nbsp;پوشش هایی که در بیمه نامه منظور می شود شامل فوت، نقص عضو و از کارافتادگی دائم (کلی و جزیی) ناشی از حوادث مشمول بیمه همسر و فرزندان بیمه&zwnj;گزار می&zwnj;باشد</span>.</p>
    <p><span>چه کسانی میتوانند از&nbsp;<strong>بیمه حوادث&nbsp;انفرادی</strong>&nbsp;استفاده کنند؟</span></p>
    <p><span>استفاده&zwnj;کنندگان از سرمایه بیمه خطر فوت میتواند همسر,فرزند,پدر و مادر شخص معرفی شوند.همچنین میتوان یکی از سازمان&zwnj;ها یا مراکز خیریه را به عنوان ذینفع معرفی کرد</span>.<br /><span>حداقل سن مشمول&nbsp;<strong>بیمه حوادث&nbsp;انفرادی</strong>&nbsp;</span>12 <span>سال و حداکثر 75 سال میباشد.افراد بالای 75 سال نیز میتوانند با شرایط خاص،مشمول پوشش این بیمه نامه قرار گیرند</span>.<br /><span>افرادی که به بیماری&zwnj;های نظیر آسم، ناراحتی قلبی، ناآرامیهای عصبی، دیابت و ... مبتلا هستند یا دارای نقص عضو جزئی و دائم نظیر قطع یکی از اندامهای اصلی قطع مچ پا و یا انگشتان دست و یا پا، نابینائی از یک چشم، ناشنوائی و ... که کارائی عضو صدمه دیده شخص را بیش از 20% کاهش داده است، با پرداخت اضافه نرخ میتوانند از&nbsp;<strong>بیمه نامه حوادث انفرادی</strong>&nbsp;استفاده کنند</span>.</p>
    <p><span>طبقه بندی مشاغل&nbsp;<strong>بیمه حوادث&nbsp;انفرادی</strong></span></p>
    <p><span>طبقه بندی کامل و دقیق مشاغل از نظر&nbsp;<strong>بیمه حوادث</strong>&nbsp;به دلیل تعدد مشاغل و خطرات آنها امکان پذیر نمی باشد.&nbsp;<strong>بیمه سامان</strong>&nbsp;بمنظور سهولت در صدور&nbsp;<strong>بیمه نامه حوادث انفرادی</strong>، مشاغلی را که نسبتاً با خطرات یکسان مواجه هستند بدین ترتیب تقسیم بندی نموده است :<br /><strong>طبقه 1-</strong>&nbsp;شامل افرادی است که در معرض عوامل تشدید کننده خطر قرار ندارند و با حداقل خطر مواجه هستند و به آن گروه بی&zwnj;خطر اطلاق می&zwnj;گردد، نظیر کارمندان دفتری و اداری ، مهندسین طراح و ....<br /><strong>طبقه 2-</strong>&nbsp;شامل افرادی است که در فعالیتهای روزمره در مقایسه طبقه یک با خطرات نسبی بیشتری روبرو هستند و اکثراً کارهای دستی بدون استفاده از ماشین&zwnj;آلات صنعتی را انجام می&zwnj;دهند و اصطلاحاً به گروه کم&zwnj;خطر موسوم هستند، نظیر پزشکان، فروشندگان تجاری که در انبارها کار می&zwnj;کنند و مهندسین ناظر و بازاریاب و ...<br /><strong>طبقه 3-</strong>&nbsp;شامل افرادی است که با ماشین&zwnj;آلات و ادوات صنعتی کار می&zwnj;کنند و علیرغم اینکه در ابزار کار آنها مقررات ایمنی رعایت شده، می&zwnj;بایست متخصص و یا نیمه متخصص باشند و به آن گروه خطرناک اطلاق می&zwnj;گردد. نظیر کشاورزان، کارگران ساختمانی، تعمیرکاران ادوات برقی و مکانیک، مامورین پمپ بنزین و ...<br /><strong>طبقه 4-</strong>&nbsp;شامل افرادی است که با ماشین&zwnj;آلات و ادوات صنعتی بدون حفاظ کار می&zwnj;کنند و یا با خطرات متعدد روبرو هستند و به آن گروه پر خطر اطلاق می&zwnj;شود، نظیر پرس&zwnj;کاران فلز، دکل&zwnj;بند، ماموران آتش&zwnj;نشانی، رانندگان وسائط نقلیه سنگین و برق کار ساختمانی و ...<br /><strong>طبقه 5-</strong>&nbsp;شامل افرادی است که در فعالیت&zwnj;های روزمره خود با بیشترین خطر روبرو هستند و اصطلاحاً به آن گروه خطرناک اطلاق می&zwnj;شود، نظیر کارگران معدن در زیر زمین، تولیدکنندگان محصولات آتش زا نظیر رنگ و تینر، مواد منفجره.</span></p>
    <p><span>پرسش و پاسخ ها</span></p>
    <p><span>چرا خرید بیمه نامه های حوادث انفرادی سامان بهترین گزینه است؟</span></p>
    <ul>
        <li><span>امکان خریداری بیمه نامه برای هر فرد با شرایط خاص فراهم است: شما با هر سابقه پوششی و نوع فعالیت خاص حتی ورزشی حرفه ای می توانید بیمه نامه بخرید</span></li>
        <li><span>امکان خرید به صورت آنلاین و حضوری: به دلخواه شما ارائه تعدادی از پوشش ها و طرح های آماده با حق بیمه های مشخص با احتساب تخفیفات خاص</span></li>
        <li><span>ارایه پوشش کرونا: براساس نوع خطر و شرایط بیمه نامه های مربوطه، چه در قالب بیمه نامه مجزا و چه در سایر بیمه نامه های حوادث با پوشش هزینه پزشکی به صورت محدود</span></li>
    </ul>
    <p><span>مشتریان این نوع از بیمه نامه چه افرادی هستند؟</span></p>
    <ul>
        <li><span>در صورتی که امکان پوشش خطر و یا نوع فعالیت خاصی را در سایر بیمه نامه های حوادث مشابه دارا نسیتید</span></li>
        <li><span>در صورتی که شاغل نمی باشید و یا به هر به هردلیلی دارای بیمه نامه عمرو حوادث گروهی نمی باشید</span></li>
        <li><span>در صورتی که دارای سوابق بیماری بوده و سلامت کامل را دارا نمی باشید</span></li>
    </ul>
    <p><span>میتوانید با ارائه مدارک پزشکی وتکمیل پرسشنامه بیمه سامان، با تایید پزشک معتمد از مزایای پوشش های حوادث انفرادی برخوردار گردید. در صورتی که بیمه نامه مشابه با سقف کمتری دارید. خرید بیمه نمه های حوادث انفرادی برای این دسته از افراد پیشنهاد میگردد</span>.</p>
    <p>&nbsp;</p>
</InsuranceTemplate>

@code {

}
