@page "/insurances/complementarytreatment"
<InsuranceTemplate Title="بیمه درمان تکمیلی">
    <p>
        <span>بیمه درمان تکمیلی کلیه هزینه های درما نی وبیمارستانی بیمه شده شامل هزینه های بستری ،عمل جراحی ،پاراکلینیکی ،جراحی سرپایی ،خدمات آزمایشگاهی ،هزینه آمبولانس ،زایمان ،ویزیت ودارو ،ناباروری ،غربالگری جنین ،دندانپزشکی ،سمعک ،عینک ،هزینه های پزشکی را بر اساس شرایط بیمه نامه تکمیلی درمان وفرانشیز 10درصد پرداخت می کند</span>
    </p>
    <p>
        <span>&nbsp;</span>
    </p>
    <p>
        <span>یکی از مهم&zwnj;ترین و پرکاربردترین انواع&zwnj; پوشش&zwnj;های بیمه&zwnj;&zwnj;ای، بیمه&zwnj; تکمیلی درمان است&zwnj;. با توجه&zwnj; به&zwnj; اینکه&zwnj; انسان همواره&zwnj; در معرض&zwnj; خطر انواع&zwnj; مختلف&zwnj; بیماری&zwnj;ها بوده&zwnj; و هست&zwnj;، به ناچار برای معالجه&zwnj; بیماری و بهبودی، متقبل&zwnj; هزینه&zwnj;&zwnj;های سنگین&zwnj; پزشکی، دارو، عمل&zwnj;ها&zwnj;ی جراحی و مخارج&zwnj; بیمارستان&zwnj; می&zwnj;شود. به&zwnj; منظور کمک&zwnj; در پرداخت چنین&zwnj; هزینه&zwnj;هایی، بیمه&zwnj;های درمانی طراحی و به متقاضیان ارائه می&zwnj;گردند</span>.
    </p>
    <p><span>بیمه درمان تکمیلی کلیه هزینه های درما نی وبیمارستانی بیمه شده شامل هزینه های بستری ،عمل جراحی ،پاراکلینیکی ،جراحی سرپایی ،خدمات آزمایشگاهی ،هزینه آمبولانس ،زایمان ،ویزیت ودارو ،ناباروری ،غربالگری جنین ،دندانپزشکی ،سمعک ،عینک ،هزینه های پزشکی را بر اساس شرایط بیمه نامه تکمیلی درمان وفرانشیز 10درصد پرداخت می کند</span></p>
    <p><span>جدول شماره یک: سقف تعهدات به تفکیک طرح&zwnj;ها در یک سال (مبلغ به ریال)</span></p>
    <img src="images/health_insurance_main_plan_detaile.jpg" />
    <img src="images/health_insurance_main_plan_price.jpg" />
    <img src="images/health_insurance_New_plan_detail.jpg" />
    <img src="images/health_insurance_main_new_plan_p.jpg" />
    <p><span>تخفیف&nbsp;<strong>بیمه تکمیلی سامان</strong></span></p>
    <p><span>متقاضیان خرید&nbsp;<strong>بیمه تکمیلی خانواده</strong>&nbsp;یا خانوادگی سامان میتوانند از تخفیف های ویژه این بیمه استفاده کنند. به این صورت که با خرید نقدی&nbsp;<strong>بیمه تکمیلی سامان</strong>&nbsp;مشمول </span><span>۱۰</span><span> درصد تخفیف می شوید و یا در صورت داشتن بیمه عمر سامان، </span><span>۱۰</span><span> درصد تخفیف به بیمه نامه شما تعلق می گیرد. همچنین خانواده های سه نفره و سه نفر به بالا که متقاضی خرید&nbsp;<strong>بیمه تکمیلی سامان</strong>&nbsp;هستند، می توانند این بیمه را با </span><span>۱۵</span><span> درصد تخفیف خریداری کنند. البته سقف تخفیف های این بیمه </span><span>۲۵</span><span> درصد است. یعنی شما نمی توانید به صورت همزمان از تخفیف دارا بودن بیمه عمر و تخفیف خرید نقدی بهره مند شوید و یکی از این دو تخفیف به شما تعلق خواهد گرفت</span>.</p>
    <p><span>خرید بیمه&nbsp;<strong>تکمیلی خانواده سامان</strong>&nbsp;بدون داشتن بیمه&zwnj; پایه</span></p>
    <p><span>درگذشته برای خرید بیمه تکمیلی، داشتن بیمه&zwnj; پایه (تامین اجتماعی، حوادث درمانی، خدمات درمانی نیروهای مسلح و سلامت ایرانیان) در اکثر شرکت&zwnj;های بیمه الزامی بوده&zwnj;است. اما هم&zwnj;اکنون بعضی از شرکت&zwnj;های بیمه از جمله بیمه سامان برای رفاه حال خریداران بیمه تکمیلی خود، لزوم داشتن بیمه&zwnj; پایه را حذف نموده&zwnj;اند و در صورتی که خریدار بیمه تکمیلی، بیمه&zwnj; پایه نداشته&zwnj;باشد، تنها </span><span>۱۸</span><span> درصد به مبلغ حق&zwnj;بیمه او افزوده خواهدشد و تغییر دیگری در بیمه&zwnj;نامه تکمیلی او به علت نداشتن بیمه&zwnj; پایه رخ نخواهد داد</span>.</p>
    <p><span>دوره انتظار&nbsp;<strong>بیمه تکمیلی سامان</strong></span></p>
    <p><span>به مدت زمانی گفته می&zwnj;شود که پس از گذشت آن بیمه&zwnj;گذار می&zwnj;تواند از پوشش&zwnj;های بیمه&zwnj;نامه خود استفاده نماید</span>.<br /><span>هریک از طرح&zwnj;های بیمه&nbsp;<strong>تکمیلی خانواده سامان</strong>&nbsp;دارای دوره&zwnj;ی انتظار </span><span>۳</span><span> ماهه برای بیماری های مزمن و دوره انتظار </span><span>۹</span><span> ماهه برای زایمان می&zwnj;باشند، برای مثال برای استفاده از پوشش زایمان، نازایی و ناباروری باید حداقل </span><span>۹</span><span> ماه از خرید آن گذشته&zwnj;باشد، بنابراین می&zwnj;بایست قبل از بارداری برای&nbsp;<strong>خرید بیمه تکمیلی</strong>&nbsp;با پوشش زایمان اقدام کنید</span>.</p>
    <p>&nbsp;</p>
    <img src="images/sme.png" />
    <img src="images/sme-h.png" />
    <img src="images/sme-t.png" />
</InsuranceTemplate>

@code {

}
