<p>

    <strong>
        <span>
            بیمه سامان
        </span>
    </strong>
    <span>
        &nbsp;جزء اولین شرکتهای بیمه ای بوده که بصورت خاص و جامع&nbsp;<strong>
            بیمه تجهیزات الکترونیک
        </strong>
        &nbsp;را در بازار عرضه کرده است. نوع عرضه، خدمات پس از فروش و پوشش هایی که&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;در قالب تجهیزات الکترونیک ارائه می&zwnj;دهد، از کامل&zwnj;ترین پوشش&zwnj;های بیمه&zwnj;ای برای موبایل، تبلت و لپتاپ در کشور است
    </span>
    .<br />
    <span>
        تفاوت خدمات نه تنها در میزان سقف تعـهدات و نوع پوشـش&zwnj;های&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;وجود دارد، بلـکه ما بصورت تخصصی بر روی این محصول تحقیق و سرمایه&zwnj;گذاری کرده&zwnj; و گام&zwnj;های بزرگی در جلب رضایت مشتریان که مهمترین اساس فعالیت&nbsp;<strong>
            بیمه کالای دیجیتال سامان
        </strong>
        &nbsp;است را برداشته&zwnj;ایم. کیفیت و سرعت خدمات&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;در پرداخت خسارت و ارتباط با مشتریان، بزرگ&zwnj;ترین مزیت محصول&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;در کشور است
    </span>
</p>

<p>
    <strong>
        <span>
            خطرات تحت پوشش
        </span>
    </strong>
</p>

<p>
    <span>
        شامل آبدیدگی، نم زدگی، نوسانات برق، القاء الکتریکی، ضربه خوردگی، شکست، آتشسوزی، انفجار، سیل و طوفان و پوشش سرقت با شکست حرز می باشــد. سرقت با شکست حرز صرفا از اتومبیل، محل کـــار و منزل تحت پوشـــش می باشد. بر این اساس در مقطع اعلام خسارت، بیمه گذار موظف به ارائه تاییدیه کتبی مقامات انتظامی / قضایی مبنی بر احراز شرایط شکست حرز ( مشهود بودن آثار سرقت از قبیل شکست شیشه، قفل و یا درب) خواهد بود. درغیر اینصورت بیمه گر در قبال خسارت مربوطه، تعهدی نخواهد داشت.
    </span>
</p>

<p>
    <strong>
        <span>
            تعهدات بیمه گر
        </span>
    </strong>
</p>

<p>
    <span>
        خدمات بیمه ای و مسئولیت بیمه گر در قبال خسارات وارده به تجهیزات و دستگاههای بیمه شده تحت این بیمه نامه به موارد ذیل محدود بوده و شامل حالتی دیگر نخواهد بود:
    </span>
</p>

<p>
    <span>
        1.جبران هزینه های تحمیل شده به بیمه گذار جهت تعمیر دستگاه آسیب دیده شامل هزینه تامین قطعات لازمه و هزینه دستمزد مرکز تعمیرات. * بیمه گر در دوره تسری بیمه نامه فوق، صرفا یک نوبت بابت هزینه تعمیرات انجام شده خسارت پرداخت خواهد نمود.
    </span>
</p>

<p>
    <span>
        2.جبران خسارت کلی (
    </span>
    Total Loss<span>
        ) تجهیزاتی که مطابق نظر رسمی مراکز تخصصی و معتبر خدمات فنی تجهیزات الکترونیک ، قابل تعمیر نمی باشند .
    </span>
</p>

<p>
    <span>
        3.جبران خسارت کلی (
    </span>
    Total Loss<span>
        ) در اثر سرقت با شکست حرز
    </span>
</p>

<p>
    <strong>
        <span>
            فرانشیزها
        </span>
    </strong>
</p>

<p>
    <span>
        فرانشیز خسارت جزئی: 20% و حداقل 1،000،000 ریال می باشد.
    </span>
</p>

<p>
    <span>
        فرانشیز خسارت جزئی تاچ و ال سی دی: 40% و حداقل 2،000،000 ریال می باشد.
    </span>
</p>

<p>
    <span>
        فرانشیز کلی: 30% ارزش مورد بیمه می باشد.
    </span>
</p>

<p>
    <span>
        فرانشیز سرقت: 40 % قیمت روز دستگاه (در مقطع وقوع حادثه) یا قیمت مندرج در فاکتور خرید، هرکدام که کمتر باشد.
    </span>
</p>

<p>
    <strong>
        <span>
            استثنائات
        </span>
    </strong>
</p>

<p>
    <span>
        1.عیوب ذاتی (موارد تحت پوشش گارانتی)
    </span>
</p>

<p>
    <span>
        2.خسارات وارده به لوازم جانبی از قبیل باطری، سیم کارت، کارت حافظه، شارژر، هندزفری، قاب و بدنه ،تلقهای محافظ صفحه،قلم و...
    </span>
</p>

<p>
    <span>
        3.کلیه خساراتی که از تعمیرات نامناسب تجهیزات بیمه شده ناشی شده باشد
    </span>
</p>

<p>
    <span>
        4.هرگونه عیب و نقص وارده به زیبایی دستگاه شامل خراشیدگی رنگ، پولیش و سطوح لعابدار
    </span>
</p>

<p>
    <span>
        5.هرگونه استهلاک عادی، اکسیده شدن، زنگ زدگی و یا فساد تدریجی در اثر شرایط آب و هوایی
    </span>
</p>

<p>
    <span>
        6.هرگونه خسارات تبعی و یا عدم النفع
    </span>
</p>

<p>
    <span>
        7.کلیه هزینه ها و خسارات مرتبط با سیستم نرم افزاری و اطلاعات ذخیره شده بر روی دستگاه
    </span>
</p>

<p>
    <span>
        8.خسارات و سرقتهای واقع شده ناشی از و یا به دنبال جنگ، شورش، اغتشاش و بلوا
    </span>
</p>

<p>
    <span>
        9.سرقت تجهیزات بیمه شده در اثر کف زنی، قاپ زنی و زورگیری
    </span>
</p>

<p>
    <span>
        10.کلیه خسارات ناشی از فعل عمدی بیمه گذار و یا وابستگان وی
    </span>
</p>

<p>
    <span>
        11.کلیه هزینه های جانبی مربوطه از قبیل هزینه های حمل به مرکز تعمیرات و بالعکس و...
    </span>
</p>

<p>
    <span>
        12.کلیه خسارات در صورت مخدوش بودن شماره سریال یا&nbsp;
    </span>
    IMEI<span>
        &nbsp;دستگاه بررسی شده
    </span>
</p>

<p>
    <span>
        13.هرگونه تعمیرات و کارشدگی از طرف مرکزی غیر از مرکز تخصصی صدور و پشتیبانی بیمه های تجهیزات الکترونیکی شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;( قبل و بعد از صدور گواهی بیمه )
    </span>
</p>

<p>
    <span>
        14.عملکرد دکمه اثر انگشت (تاچ آی دی )و فیس آی دی بعد از تعمیرات
    </span>
</p>

<p>
    <span>
        15.هرگونه خسارت وارد به پیکسل ناشی از خطراتیکه در بیمه نامه تحت پوشش نمی باشند از شمول تعهدات بیمه گر خارج است
    </span>
</p>

<p>
    <span>
        16.خسارت وارده به گوشیهای قاچاق تحت پوشش نمی باشد
    </span>
</p>

<p>
    <span>
        17.سرقت ناشی از خیانت در امانت از شمول تعهدات بیمه خارج است
    </span>
</p>

<p>
    <span>
        18.در هنگام بارگذاری عکس از روی دستگاه، مشاهده&nbsp;
    </span>
    IMEI<span>
        &nbsp;و یا سریال دستگاه بر روی صفحه نمایش الزامی میباشد بگونه ای که چهار چوب دستگاه مشاهده شود. (در غیر اینصورت شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;تعهدی بابت پرداخت خسارت ندارد. گرفتن اسکرین شات از صفحه مورد تایید نمی&zwnj;باشد.)
    </span>
</p>

<p>
    <span>
        تبصره: هرگونه دستگاه تعمیر شده پیش از صدور گواهی بیمه تحت پوشش بیمه نامه نمی باشد
    </span>
</p>

<p>
    <strong>
        <span>
            نحوه پیگیری خسارت
        </span>
    </strong>
</p>

<p>
    <span>
        1.مراجعه حضوری بیمه گذار با ارائه کارت شناسایی معتبر به کلیه شعب شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;بهمراه : 1- اصل بیمه نامه صادره 2- دستگاه آسیب دیده به انضمام جعبه و سایر متعلقات
    </span>
</p>

<p>
    <span>
        2.تکمیل فرم اعلام خسارت در اداره خسارت شعب شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;و اخذ نامه ارجاع به مراکز تخصصی تجهیزات الکترونیک * در صورت وقوع خسارت کلی بر اثر سرقت، ارائه کلیه مستندات مرتبط با پیگیری موضوع از طریق مراجع انتظامی / قضایی به انضمام مدارک مبین و موید احراز شرایط شکست حرز
    </span>
</p>

<p>
    <span>
        3.اقدام بیمه گذار جهت انجام تعمیرات لازمه در مراکز تخصصی خدمات تجهیزات الکترونیکی معتبر و پرداخت هزینه های مربوطه (در صورت تعمیر دستگاه)
    </span>
</p>

<p>
    <span>
        4.اخذ فاکتور رسمی و معتبر (ممهور) به انضمام داغی قطعه یا قطعات تعویض شده از محل یا مرکز انجام تعمیرات فوق الذکر (در صورت تعمیر دستگاه)
    </span>
</p>

<p>
    <span>
        5.اخذ نظر رسمی و مکتوب معتبر (ممهور) مرکز تخصصی ارائه دهنده خدمات فنی تجهیزات الکترونیک مبنی بر عدم امکان تعمیر و اصلاح دستگاه آسیب دیده (در موارد خسارت کلی)
    </span>
</p>

<p>
    <span>
        6.مراجعه مجدد به شعب&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;ظرف 20 روز کاری از دریافت نامه اشاره شده در بند 2 و: الف : ارائه فاکتور تعمیرات انجام گرفته توسط مرکز تخصصی ارائه دهنده خدمات فنی تجهیزات الکترونیک مربوطه به انضمام داغی قطعات تعویض شده (در صورت تعمیر) ب : ارائه نظر رسمی و مکتوب معتبر (ممهور) مرکز تخصصی ارائه دهنده خدمات تجهیزات الکترونیک مبنی بر کلی بودن خسارت (عدم امکان تعمیر) به انضمام جعبه و سایر متعلقات دستگاه * پس از ارائه موارد فوق الذکر به شعب شرکت بیمه سامان، کلیه موارد توسط کارشناسان فنی این شرکت بررسی گردیده و ظرف حداکثر 7 روز کاری، مبلغ خسارت قابل پرداخت بصورت کتبی به بیمه گذار محترم منعکس خواهد گردید.
    </span>
</p>

<p>
    <span>
        7.مراجعه به شعبه شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;و تکمیل و امضاء فرم مفاصاحساب جهت امکان کارسازی وجه خسارت به حساب بانکی مربوطه
    </span>
</p>

<p>
    <strong>
        <span>
            نکات مهم
        </span>
    </strong>
</p>

<p>
    <span>
        در صورت عدم ارائه داغی قطعات تعویض شده (در مواردی که تعمیر شده اند) و یا جعبه و متعلقات دستگاههای بیمه شده (در موارد خسارت کلی)، بیمه گر مجاز و محق خواهد ارزش بازیافتی موارد مزبور را از مبلغ خسارت کسر نماید.
    </span>
</p>

<p>
    <span>
        بیمه گذار موظف می باشد در انتخاب مرکز ارائه دهنده خدمات فنی مربوطه دقت نظر لازمه را بعمل آورد. لذا بدیهی است شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;هیچ مسئولیتی در قبال کیفیت خدمات ارائه شده توسط مراکز مزبور نخواهد داشت .
    </span>
</p>

<p>
    <span>
        در صورت مغایرت هزینه های درج شده در فاکتورهای ارائه شده توسط بیمه گذار با مبالغ متعارف ، بیمه گر محق و مجاز خواهد بود موضوع را به کارشناسان معتمد شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;ارجاع و نظر ثانویه اخذ نماید. بدیهی است جبران خسارت صرفا بر حسب هزینه های متعارف انجام خواهد گرفت ولو اینکه بیمه گذار مبالغ بیشتری از هزینه های متعارف به مرکز تعمیرات مربوطه پرداخت نموده باشد.
    </span>
</p>

<p>
    <span>
        بیمه گذار موظف به خریداری پوشش بیمه ای مطابق با ارزش متعارف و روز دستگاه می باشد. براین اساس و درصورت نوسان و افزایش قیمت دستگاه، خسارت احتمالی مشمول کم بیمه گی و اعمال ضریب ماده 10 قانون بیمــه خواهد بود
    </span>
</p>

<p>
    &nbsp;
</p>
