@page "/insurances/fire"

<InsuranceTemplate Title="بیمه آتش سوزی" Href="https://fireinsurance.si24.ir/FireInsurance/Login?agent=KdvVNAg">
    <p><strong>بیمه سامان در راستای رفاه حال مشتریان، خرید آنلاین، بدون نیاز به بازدید و صدور آنی بیمه آتش سوزی را فراهم کرده است</strong><strong>.</strong></p>
    <p>خانه، اثاثیه و محل کسب شما می تواند بخش مهمی از سرمایه و دارایی شما در زندگیتان باشد. با بیمه نامه های&nbsp;<strong>طرح جامع خانوار</strong>&nbsp;و&nbsp;<strong>طرح جامع کسب و کار</strong>&nbsp;می توانید امنیت این سرمایه ارزشمند را تامین کنید.</p>
    <p><strong>بیمه نامه طرح جامع خانوار</strong>(منازل مسکونی)</p>
    <p>بیمه سامان با ارائه طرح جامع خانوار خانه شما را در قبال حوادث و بلایای طبیعی مانند آتش سوزی، صاعقه، انفجار و زلزله بیمه میکند و تمام نگرانی ها و دغدغه های شما در مورد ضایعات و آسیب های وارده به ساختمان و اثاثیه منزل مسکونی را از بین می برد.</p>
    <p><strong>بیمه نامه طرح جامع کسب و کار</strong>(فروشگاهها و دفاتر خدماتی و ..)</p>
    <p>این بیمه نامه خسارت وارده به ساختمان و اموال موجود در محل کسب و کار شما را بر اثر خطرات آتش سوزی، صاعقه، انفجار، سیل، طوفان، زلزله، مسئولیت مالی در قبال اشخاص ثالث(همسایگان مجاور)، غرامت فوت و نقص عضو، هزینه پزشکی، هزینه اجاره و اسکان موقت بیمه گذار، سرقت با شکست حرز، شکست شیشه، هزینه پاکسازی، وقفه در فعالیت، آشوب، رانش، ریزش و فروکش زمین و حداکثر تا سقف سرمایه انتخابی توسط بیمه گذار جبران می نماید.</p>
    <p><strong>استثنائات</strong><strong>:</strong></p>
    <p>مراکز واقع در سراها، بازارهای سنتی سرپوشیده و پاساژهای واقع در بازار سنتی، انبار اختصاصی و یا عمومی، فروشگاه های طلا، جواهر و عتیقه، اموال مستقر در فضای باز مانند پشت بام و یا حریم فروشگاه، مسکوکات، پول، گوشی تلفن همراه، تبلت، فلزات قیمتی به هر شکل، جواهرات و مروارید، سنگ های قیمتی سوار شده، اوراق بهادار، هرگونه اسناد و نسخ خطی و برنامه های نرم افزاری، استثنا می باشند.</p>
    <p>&nbsp;</p>
</InsuranceTemplate>

@code {

}
