@page "/insurances/liability"

<InsuranceTemplate Title="بیمه مسئولیت پزشکان و پیراپزشکان">
    <span>
        در این بیمه&zwnj;نامه مسئولیت حرفه&zwnj;ای پزشکان و پیراپزشکان (مجموعه&zwnj;ای از متخصصان که کادر درمانی را تکمیل می&zwnj;نمایند، اصطلاحا پیراپزشک نامیده می&zwnj;شوند) در قبال بیماران بیمه می&zwnj;گردد که یکی از زیرشاخه های&nbsp;<strong>
            بیمه مسئولیت حرفه
        </strong>
        &nbsp;ای است. بعبارت دیگر چنانچه پزشک و یا پیراپزشک به&zwnj;غیر عمد یعنی بعلت:
    </span>
    <span>
        خطا، اشتباه، غفلت و یا قصور در انجام معالجه
    </span>

    <span>
        تجویز نادرست
    </span>

    <span>
        اعمال جراحی
    </span>

    <span>
        موجب صدمات جسمانی یا روانی یا فوت بیمار گردد و طبق قانون مسئول شناخته شود، شرکت&nbsp;<strong>
            بیمه سامان
        </strong>
        &nbsp;آن را جبران خواهد نمود
    </span>
    <p>
        <strong>
            <span>
                موارد تحت پوشش
            </span>
            :
        </strong>
    
        <span>
            غرامت نقص عضو (در مواردی که بر اثر خطا و یا&nbsp;<strong>
                قصور پزشکان
            </strong>
            &nbsp;و یا پیراپزشکان نقص عضوی برای بیمه گذار وارد آید بیمه گر موظف به جبران خسارت می&zwnj;باشد
        </span>
        ).
    </p>

    <p>
        <span>
            غرامت فوت (در صورت فوت بیمه&zwnj;گذار بر اثر خطا و یا&nbsp;<strong>
                قصور پزشکان
            </strong>
            &nbsp;و یا پیراپزشکان ورثه وی مستحق دریافت غرامت می&zwnj;باشند
        </span>
        ).
    </p>

    <p>
        <strong>
            <span>
                موارد خارج از پوشش
            </span>
            :
        </strong>
    
        <span>
            انجام هر اقدامی خارج از حدود وظایف شغلی و صنفی پزشک و پیرا پزشک.
        </span>
        <span>
            پزشک یا پیراپزشک به دلیل استفاده از مسکرات و استعمال مواد مخدر یا داروی خواب آور تمرکز و هوشیاری لازم برای مداوای بیمار را نداشته باشد و باعث صدمه جسمی او می&zwnj;شود.
        </span>
        <span>
            انجام اقداماتی خارج از ضوابط پزشکی و یا بر خلاف قوانین و مقررات جاری باشد.
        </span>
        <span>
            هر نوع خسارتی که منشاً آن تشعشات یونیزه کننده یا رادیو اکتیو و انرژی هسته&zwnj;ای باشد مگر اینکه استفاده از این قبیل مواد جهت معالجه بیمار ضروری باشد.
        </span>
        <span>
            هر نوع خسارت ناشی از عدم النفع.
        </span>
    </p>

    <p>
        <span>
            طبقه بندی مشاغل&nbsp;<strong>
                بیمه مسئولیت پزشکان
            </strong>
            &nbsp;و پیرا پزشکان
        </span>
    </p>

    <p>
        <span>
            جهت محاسبه حق&zwnj;بیمه پزشکان بر مبنای تخصص به شش گروه به شرح زیر طبقه بندی شده&zwnj;اند:
        </span>
    </p>

    <p>
        <span>
            گروه 1:جراحان متخصص زنان و زایمان ، جراحان عمومی ، ارتوپدی
        </span>
    </p>

    <p>
        <span>
            گروه 2:جراحان متخصص قلب،مغزو اعصاب،چشم،ترمیمی و پلاستیک،اورولوژی
        </span>
    </p>

    <p>
        <span>
            گروه 3:جراحان متخصص فک وصورت،متخصص پوست،متخصص اطفال،فوق تخصص کودکان،متخصص گوش و حلق و بینی،جراح دندانپزشک و جراح دهان و لثه
        </span>
    </p>

    <p>
        <span>
            گروه 4:پزشکان متخصص غیر جراح و جراحانی که به عللی جراحی انجام نمی دهند، دندانپزشکان،پزشک عمومی و متخصص اندوسکوپی،داروسازی
        </span>
    </p>

    <p>
        <span>
            گروه 5رادیولوژیست
        </span>
    </p>

    <p>
        <span>
            گروه 6بیهوشی
        </span>
    
        <span>
            در خصوص پزشکانی که تحت عنوان یک قرارداد گروهی، تحت پوشش بیمه مسئولیت حرفه&zwnj;ای پزشکان قرار می&zwnj;گیرند، تخفیف گروهی اعمال می&zwnj;گردد
        </span>
        <strong>
            <span>
                گروههای پیراپزشکی
            </span>
        </strong>
    
        <span>
            گروه 1: ماماهایی که دارای مطب مستقل هستند
        </span>
        <span>
            گروه 2:ماماهای شاغل در بیمارستان،کارشناس ارشد بیهوشی،پرستاران و بهیاران شاغل در کلیه بخش های
        </span>
        ICU-CCU-<span>
            دیالیزو اورژانس،کارشناس ارشد تکنولوژی گردش خون،دندانپزشکان تجربی،سرپرستان بخش های ویژه،مدیر خدمات پرستاری سوپروایزر،پرسنل اورژانس بین جاده ای
        </span>
    
        <span>
            گروه 3: کارشناس رادیولوژی،بهداشت کار صنعتی،مربیان بالینی،پرستاران و بهیاران سایر بخش ها(عادی)سرپرستاران بخشهای عادی،سوپروایزرآموزشی
        </span>
    
        <span>
            گروه 4:فیزیوتراپیست(تا دکترا)کاردرمانی (تا دکترا) تکنسین های اتاق عمل، مهندسی تجهیزات پزشکی، روانشناسی بالینی ، بهورز
        </span>
    </p>

    <p>
        <span>
            گروه 5تکنسین های رادیولوژی،سی تی اسکن،ام آر آی،کارشناسان و تکنسین های آزمایشگاه،کارشناسی و تکنسین داروخانه،تکنسین هاینوارنگاری،
        </span>
        CSR<span>
            ،کمک بهیاران، اپتومتریست(بینایی سنجی)شنوایی سنجی(ادیولوژی ) گفتار درمانی(تا دکترا)
        </span>
    </p>

    <p>
        <span>
            موارد تحت پوشش و خارج از پوشش&nbsp;<strong>
                بیمه مسئولیت پزشکان
            </strong>
            &nbsp;و پیراپزشکان
        </span>
    </p>

    <p>
        <span>
            غرامت نقص عضو (در مواردی که بر اثر خطا و یا&nbsp;<strong>
                قصور پزشکان
            </strong>
            &nbsp;و یا پیراپزشکان نقص عضوی برای بیمه گذار وارد آید بیمه گر موظف به جبران خسارت می&zwnj;باشد)
        </span>
    </p>

    <p>
        <span>
            غرامت فوت (در صورت فوت بیمه&zwnj;گذار بر اثر خطا و یا&nbsp;<strong>
                قصور پزشکان
            </strong>
            &nbsp;و یا پیراپزشکان ورثه وی مستحق دریافت غرامت می&zwnj;باشند)
        </span>
    </p>

</InsuranceTemplate>


@code {

}
