@page "/insurances/life"

<InsuranceTemplate
  Title="بیمه عمر"
  Href="https://life.si24.ir/?agentcode=5168&code=1150"
>
  <p>
    <strong><span>بیمه عمر&nbsp;و تشکیل سرمایه</span></strong>
  </p>
  <p>
    <span
      >در این نوع بیمه نامه افراد می&zwnj;توانند متناسب با درآمد خود علاوه بر
      امکان سرمایه&zwnj;گذاری از پوشش بیمه زندگی و پوششهای اضافی ارایه شده در
      این بیمه نامه برخوردار شوند</span
    >.
  </p>
  <p>
    <strong><span>پوشش های بیمه زندگی عبارت است از:</span></strong>
  </p>
  <ol>
    <li>
      <strong><span>پوشش فوت:</span></strong
      ><span
        >&nbsp;مبلغی است که در صورت فوت بیمه شده به ذینفع فوت تعیین شده در بیمه
        نامه پرداخت میگردد .</span
      >
    </li>
    <li>
      <strong><span>پوشش فوت بر اثر حادثه&nbsp;</span></strong
      ><span
        >: در صورتی فوت بیمه شده بر اثر حادثه ، شرکت&nbsp;<strong
          >بیمه سامان</strong
        >&nbsp;علاوه بر سرمایه فوت به هر علت، سرمایه پوشش فوت بر اثر حادثه را
        نیز به ذینفع فوت بیمه نامه پرداخت می&zwnj;نمایند.<br /><br />پوشش فوت
        حادثی میتواند از 1 تا 3 برابر پوشش فوت عادی توسط بیمه گذار انتخاب گردد
        .</span
      >
    </li>
    <li>
      <strong><span>پوشش امراض خاص:</span></strong
      ><span
        >&nbsp;در این پوشش بیمه گر متعهد میگردد در صورت بروز بیماریهای خاص (
        سکته مغزی ، سکته قلبی ، جراحی قلب باز ، جراحی دریچه قلب ، سرطانها و
        پیوند اعضای اصلی بدن ) تا سقف مبلغی که به عنوان سرمایه امراض در بیمه
        نامه قید شده را به صورت یکجا به بیمه شده پرداخت نماید.</span
      >
    </li>
  </ol>
  <p>
    <span
      >شرکت&nbsp;<strong>بیمه سامان</strong>&nbsp;به عنوان اولین شرکت بیمه ای در
      کشور پوشش امراض خاص با سه طرح پایه ، آسایش و ممتاز را با شرایط منحصر به
      فرد ذیل به بیمه گذاران گرامی ارایه مینماید :</span
    >
  </p>
  <p><span>امراض خاص طرح پایه :</span></p>
  <p>
    <span
      >در این طرح سقف سرمایه پوشش امراض خاص برابر 100% سرمایه فوت تا سقف
      5.000.000.000 ریال می باشد و بیماری های پیوند اعضا(قلب/کلیه، پیوند مغز و
      استخوان، کبد، ریه،روده کوچک، پانکراس، بافت همبند)، سرطان،&nbsp;</span
    >MS&nbsp;<span
      >، سکته مغزی، اولین سکته قلبی، جراحی آئورت،جراحی گرافت و بای پس شریان
      کرونر و جراحی دریچه قلب را پوشش می دهد.</span
    >
  </p>
  <p><span>امراض خاص طرح اسایش :</span></p>
  <p>
    <span
      >در این طرح سقف سرمایه پوشش امراض خاص برابر 100% سرمایه فوت تا سقف
      5.000.000.000 ریال می باشد و بیماری های پیوند اعضا(قلب/کلیه، پیوند مغز و
      استخوان، کبد، ریه،روده کوچک، پانکراس، بافت همبند)، سرطان،&nbsp;</span
    >MS&nbsp;<span
      >، سکته مغزی، اولین سکته قلبی، جراحی آئورت،جراحی گرافت و بای پس شریان
      کرونر و جراحی دریچه قلب، فلج اندام، کما، سوختگی شدید، بیماری وخیم کبدی،
      بیماری مزمن ریوی و سکته مغری را پوشش می دهد.</span
    >
  </p>
  <p><span>امراض خاص طرح ممتاز :</span></p>
  <p>
    <span
      >در این طرح سقف سرمایه پوشش امراض خاص برابر 100% سرمایه فوت تا سقف
      5.000.000.000 ریال می باشد و بیماری های سرطان، پیوند مغز و استخوان، سکته
      مغزی،اولین سکته قلبی، جراحی آئورت، جراحی گرافت و بای پس شریان کرونر،جراحی
      دریچه قلب، پیوند قلب/کلیه، بیماری کلیوی، تومور خوش خیم مغزی ، وضعیت پایدار
      نباتی، دیستروفی عضلانی، بیماری پارکینسون ایدیوپاتیک، بیماری آلزایمر،
      بیماری عصبی-حرکتی، کما، ترومای شدید سر (آسیب تروماتیک مغزی) ، کاهش بینایی
      عمیق، فقدان کامل اندام ها، عدم توانایی تکلم، ناشنوایی، فلج اندام، آنسفالیت
      ویروسی حاد، مولتیپل اسکلروزیس&nbsp;</span
    >MS&nbsp;<span
      >، بیماری وخیم کبدی، بیماری مزمن ریوی، سوختگی های شدید، هپاتیت ویروسی برق
      آسا، پانکراتیت مزمن، پیوند(کبد، ریه، روده کوچک پانکراس، بافت همبند)،
      آرتریت روماتوئید وخیم را پوشش می دهد.</span
    >
  </p>
  <p>
    <span
      >در این طرح بیمه گذار میتواند از سه گروه از چهار گروه بیماریهای تحت پوشش
      تا سقف 15میلیارد ریال استفاده نماید .</span
    >
  </p>
  <ol>
    <li>
      <strong><span>پوشش از کارافتادگی دائم در اثر حادثه:</span></strong
      ><br /><span
        >در این پوشش بیمه گر متعهد میگردد در صورت وقوع هر گونه حادثه&zwnj;ای که
        منجر به ازکارافتادگی دائم ( کلی/ جزئی) بیمه شده گردد سرمایه از کار
        افتادگی مشخص شده در بیمه&zwnj;نامه را به شخص بیمه شده پرداخت نمایید.<br /><br />سقف
        این پوشش برابر با سرمایه فوت انتخابی میباشد .</span
      >
    </li>
    <li>
      <strong
        ><span
          >پوشش معافیت از پرداخت حق بیمه در صورت از کار افتادگی:</span
        ></strong
      >
    </li>
  </ol>
  <p>
    <span
      >در این پوشش&nbsp;<strong>بیمه سامان</strong>&nbsp;متعهد میگردد در صورت
      بروز بیماری و یا هر گونه حادثه ای که منجر به ازکارافتادگی کامل (دائم یا
      موقت ) بیمه گذار شود بیمه نامه را بدون دریافت حق بیمه و با شرایط قبل به
      مدت 10 سال ادامه دهد .</span
    >
  </p>
  <p>
    <span
      >در واقع شرکت&nbsp;<strong>بیمه سامان</strong>&nbsp;جایگزین بیمه گذار جهت
      پرداخت حق&zwnj;بیمه خواهد بود .</span
    ><span>&lrm;</span>
  </p>
  <ol>
    <li><span>پوشش درامد از کار افتادگی :</span></li>
  </ol>
  <p>
    <span
      >در این پوشش&nbsp;<strong>بیمه سامان</strong>&nbsp;متعهد میگردد در صورت
      بروز بیماری و یا هر گونه حادثه ای که منجر به ازکارافتادگی کامل (دائم یا
      موقت ) بیمه گذار شود به مدت 10 سال مبلغی را به صورت سالیانه ( تا زمان
      برطرف شدن از کار افتادگی ) به عنوان درامد از کار افتادگی به بیمه گذار
      پرداخت نماید .</span
    >
  </p>
  <p>
    <span
      >در امد از کار افتادگی میتواند از 1 تا 3 برابر حق بیمه سالیانه پرداختی
      توسط بیمه گذار انتخاب گردد .</span
    >
  </p>
  <ol>
    <li><span>پوشش هزینه پزشکی ناشی از حادثه :</span></li>
  </ol>
  <p>
    <span
      >در این پوشش&nbsp;<strong>بیمه سامان</strong>&nbsp;منعهد میگردد هزینه های
      درمانی ناشی از حادثه حداکثر 20%سرمایه فوت حادثی و تا سقف مبلغ
      200.000.00ریال را تحت پوشش قرار دهد.(در صورت استفاده از این پوشش در هرسال
      بیمه ای، در سال های آتی نیز قابل استفاده خواهد بود)</span
    >
  </p>
  <p>
    <strong><span>مزایای خرید بیمه نامه عمر و تشکیل سرمایه سامان</span></strong
    ><span
      ><br />1-پرداخت سود تضمینی به صورت روز شمار .<br />2-پرداخت سود مشارکت در
      منافع حاصل از سرمایه&zwnj;گذاری اندوخته بیمه نامه ، علاوه بر سود
      تضمینی.<br />3-پرداخت وام به بیمه&zwnj;گذار بدون نیاز به ضامن و وثیقه پس
      از پایان سال اول بیمه ای .</span
    >
  </p>
  <p>
    <span
      >4-امکان برداشت از اندوخته بیمه نامه در مواقع نیاز و واریز مجدد ان به
      اندوخته پس از رفع نیاز از پایان سال اول بیمه ای .<br />5-امکان افزایش و یا
      کاهش حق بیمه متناسب با توان مالی و تورم موجود در جامعه.</span
    >
  </p>
  <p>
    <span
      >6-امکان تغییر در شرایط بیمه نامه ( کاهش و افزایش سرمایه فوت ، پوششهای
      تکمیلی ، تغییر ذینفعان و . . . ) در پایان هر سال بیمه ای<br />7-امکان
      دریافت کل مبلغ اندوخته به صورت یکجا یا به صورت مستمری در پایان مدت
      قرارداد.</span
    >
  </p>
  <p>
    <strong><span>بیمه بازنشستگی تکمیلی</span></strong>
  </p>
  <p>
    <span
      >بازنشستگی، کم درآمدترین بخش زندگی است که می&zwnj;تواند تا یک سوم دوره
      زندگی ما به طول بیانجامد. بیشترکارمندان، تمایل دارند که با توجه به سهم خود
      در موفقیتهای سازمان، در زمان بازنشستگی نیز از مزایای مختلفی برخوردار
      باشند.تازه&zwnj;ترین شیوه برنامه&zwnj;ریزی مالی برای آینده کارمندان که در
      کشورمان ارایه شده است، بیمه&nbsp;<strong>تکمیلی بازنشستگی سامان</strong
      >&nbsp;است. طرح بیمه&nbsp;<strong>تکمیلی بازنشستگی سامان</strong
      >&nbsp;نگرانی ناشی</span
    >
  </p>
  <p><span>تعهدات بیمه بازنشستگی سامان</span></p>
  <p>
    <strong
      ><span>1) پوشش سرمایه زندگی معادل 18 برابر آخرین حق بیمه</span></strong
    >
  </p>
  <p>
    <span
      >بسیاری از مدیران تمایل دارند تا در صورت فوت یکی از کارکنان، به نوعی به
      خانواده وی کمک کنند. با&nbsp;<strong>بیمه تکمیلی بازنشستگی</strong
      >&nbsp;سامان در صورت فوت بیمه شده، معادل 18برابر حق&nbsp;<strong
        >بیمه پرداخت</strong
      >&nbsp;شده (آخرین حقوق ماهیانه)، به وراث کارکنان پرداخت می&zwnj;گردد. سایر
      منافع اندوخته سنوات نیز علاوه بر سرمایه زندگی، پرداخت خواهد شد.</span
    >
  </p>
  <p>
    <strong><span>2) پرداخت اندوخته سنوات</span></strong>
  </p>
  <p>
    <span
      >اندوخته سنوات ذخیره شده، درصورت بازخریدی، بازنشستگی و یا اتمام قرارداد،
      با اختیار کارفرما به بیمه شده، پرداخت می&zwnj;گردد. سنوات کامل بازخریدی
      کارکنان بازخرید شده تا حداکثر 15% از مجموع کارکنان در پایان سال اول تا
      پنجم پرداخت می&zwnj;گردد. اعتبار استفاده نشده در هر سال، به اعتبار سالهای
      بعد اضافه می&zwnj;شود. برای مثال اگر کارفرما در سه سال اول، از اعتبار خود
      استفاده نکرد، در سال چهارم به میزان 60% مجموع کارکنان اعتبار خواهد داشت.
      از سال پنجم به بعد سنوات کامل کارکنان بازخرید شده تا حداکثر 100% از مجموع
      کارکنان، قابل دریافت خواهد بود.</span
    >
  </p>
  <p>
    <strong><span>3) پرداخت اندوخته مازاد</span></strong>
  </p>
  <p>
    <span
      >در پایان هر سال بیمه ای، با توجه به نرخ سود قطعی صندوق سرمایه گذاری
      انتخاب شده، امکان تشکیل اندوخته مازاد وجود دارد که بر اساس مابه تفاوت
      اندوخته فنی با اندوخته سنوات، محاسبه شده و در صورت تمایل بیمه&nbsp;گذار،
      قابل پرداخت می باشد.</span
    >
  </p>
  <p>
    <strong><span>4) گزارش عملکرد سالیانه</span></strong>
  </p>
  <p>
    <span
      >علاوه بر جدول اولیه، در پایان هر سال بیمه&zwnj;ای، به ازای هر یک از
      کارکنان، یک گزارش از وضعیت سالیانه اندوخته بازنشستگی به کارفرما ارائه
      خواهد شد.</span
    >
  </p>
  <p>
    <span
      >اندوخته های بازخریدی با گذر زمان رشد فزاینده خواهد داشت و علاوه بر افزایش
      اعتبار وام، به صورت یکجا و یا مستمری نیز قابل استفاده خواهند بود. کارکنان
      متعهد امروز سازمان، در دوران سالمندی و در شرایطی که ممکن است بواسطه کهولت
      سن و نیاز به مراقبت&zwnj;های خاص با هزینه&zwnj;های اضافی مواجه باشند،
      می&zwnj;توانند با استفاده از این منابع دغدغه&zwnj;های مالی خود را برطرف
      نمایند.&nbsp;<strong>بیمه&nbsp;تکمیلی بازنشستگی سامان</strong>،
      پس&zwnj;اندازی مناسب برای تعهدات و هزینه های دوران استراحت پس از کار خواهد
      بود.</span
    >
  </p>
  <p><span>جداول برنامه ریزی بیمه بازنشستگی</span></p>
  <p>
    <strong><span>درخت بیمه&nbsp;تکمیلی بازنشستگی سامان</span></strong
    ><span
      >&nbsp;علاوه بر تأمین آرامش خاطر در سالهای زندگی، اندک اندک به بار خواهد
      نشست و با گذشت زمان ثمره بیشتری خواهد داد</span
    >.&nbsp;<strong><span>بیمه&nbsp;تکمیلی بازنشستگی سامان</span></strong
    ><span
      >، به کارفرمایان این امکان را می&zwnj;دهد که با استفاده از وجوه بازخریدی
      کارکنانشان، مزایای قابل توجه&zwnj;ای را برای دوران بازنشستگی آنان فراهم
      آورند، بعلاوه سرمایه فوت را بدون نیاز به پرداخت هزینه&zwnj;های اضافی برای
      آنان فراهم نموده و فشارهای مالی ناشی از بازخریدی کارکنانشان را نیز بر طرف
      نمایند</span
    >.
  </p>
  <p>
    <strong><br /></strong
    ><strong><span>معرفی بیمه عمر متصل به واحد( یونیت لینک)</span></strong>
  </p>
  <p>
    <span
      >در این محصول علاوه بر پوششهای مختلف و کامل بیمه ای ، اندوخته بیمه نامه به
      صورت مستقیم در صندوق&zwnj;های بورسـی سرمایه&zwnj;گذاری میگردد که این
      امـکان را فراهـم می&zwnj;سازد تا متناسـب با نوســانات افزایشی بازار
      اندوخته بیمه نامه نیز افزایش یابد و بیمه گذار از این سود منتفع گردد .
      همچنین با توجه به ارایه سود تضمین به اندوخته بیمه نامه ها توسط بیمه سامان
      ، نوسانات منفی بازار تاثیری در اندوخته شما نخواهد داشت و منجر به کاهش
      اندوخته نخواهد گردید</span
    >
  </p>
  <p>
    <strong><span>مزیت خرید این بیمه نامه چیست؟</span></strong>
  </p>
  <ul>
    <li><span>استفاده از پوشش&zwnj;های کامل بیمه ای</span></li>
  </ul>
  <p>
    <span
      >فوت حادثی ، امراض خاص شامل 30 بیماری ، از کارافتادگی ،معافیت از پرداخت حق
      بیمه و</span
    >
    ..
  </p>
  <ul>
    <li><span>سرمایه گذاری در بورس بدون نیاز به دانش و مهارت فنی</span></li>
    <li><span>امکان کسب سود متناسب با شرایط بازار های مالی</span></li>
    <li>
      <span
        >دریافت سود تضمین بر روی اندوخته قابل سرمایه&zwnj;گذاری و کاهش ریسک
        سرمایه گذاری برای بیمه&zwnj;گزار</span
      >
    </li>
    <li>
      <span
        >امکان واریز و کاهش اندوخته در هر زمان و بر اساس شرایط مالی بیمه
        گزار</span
      >
    </li>
    <li>
      <strong
        ><span
          >تضمین خرید و فروش یونیتهای سرمایه گذاری در هر زمان توسط بیمه سامان و
          با قیمت روز</span
        ></strong
      >
    </li>
  </ul>
  <p>&nbsp;</p>
</InsuranceTemplate>

@code { } 
