@page "/insurances/travel"

<InsuranceTemplate Title="بیمه مسافرتی">
    <p>
        <strong>
            <span>
                سفر بــــــــــــــــی خطر
            </span>
        </strong>
    </p>

    <p>
        <span>
            تصور کنید چمدان یا کیف پول خود را در فرودگاه مقصد گم کرده اید و نیاز به وسایل ضروری دارید، بدلیل بیماری و یا حادثه&zwnj;ای برای شما و یا همراه&zwnj;تان مجبور به بازگشت از سفر خود هستید و هزینه زیادی برای سفر خود کرده&zwnj;اید، در هنگام سفر از منزل شما سرقت می شود و یا خانه شما دچار آتش سوزی می شود. اینها تنهای تعداد معدودی از مخاطراتی هستند که ممکن است در سفرتان با آنها مواجه شوید. تفاوتی ندارد که شما یک سفر چند روزه و یا سفری بلند مدت در پیش دارید، بیمه مسافرتی سامان با آگاهی از تمامی نیازها و مشکلات احتمالی مسافران کاملترین بیمه نامه مسافرتی را با مناسب ترین هزینه در اختیار شما قرار می&zwnj; دهد
        </span>
        <span>
            .
        </span>
    </p>

    <p>
        <strong>
            <span>
                ما به شما&nbsp;
            </span>
        </strong>
        <strong>
            <span>
                تعهد میدهیم
            </span>
        </strong>
    </p>

    <ul>

        <li>
            <span>
                جبران هزینه های فوریت های پزشکی و دندان پزشکی
            </span>
        </li>

        <li>
            <span>
                پرداخت هزینه های ناشی از مفقودی چمدان
            </span>
        </li>

        <li>
            <span>
                بیمه سرقت و حوادث منزل در طول سفر
            </span>
        </li>

        <li>
            <span>
                جبران هزینه های ناشی از کنسلی رویداد های تجاری، ورزشی و آموزشی رزرو شده.
            </span>
        </li>

    </ul>

    <ul>

        <li>
            <strong>
                <span>
                    بیمه سامان، انتخاب اول مسافران
                </span>
            </strong>
        </li>

    </ul>

    <h3>
        <span>
            هنگام وقوع خسارت، روی ما حساب کنید
        </span>
    </h3>

    <h3>
        <span>
            در هر نقطه دنیا که باشید در کنار شما هستیم
        </span>
    </h3>

    <h3>
        <span>
            در هر نقطه از دنیا شرکت کمک&zwnj;رسان
        </span>
        <span>
            (Mideast)
        </span>
        <span>
            اقدامات لازم را برای پیگیری حادثه شما را انجام می&zwnj;دهد
        </span>
    </h3>

    <ul>
        <li>
            <span>
                در زمان بروز خسارت چگونه عمل کنیم؟
            </span>
        </li>
    </ul>

    <h3>
        <span>
            با ما تماس بگیرید
        </span>
    </h3>

    <ul>
        <li>
            <span>
                با بیمه سامان تماس بگیرید و واقعه را شرح دهید
            </span>
        </li>

    </ul>

    <h3>
        <span>
            مشکل شما را پیگیری میکنیم
        </span>
    </h3>

    <ul>
        <li>
            <span>
                شرکت کمک رسان اقدامات لازم را برای پیگیری حادثه را انجام میدهد
            </span>
        </li>
    </ul>

    <h3>
        <span>
            در کنار شما هستیم
        </span>
    </h3>

    <ul>
        <li>
            <span>
                در صورت نیاز، کارگزاری از طرف شرکت کمک&zwnj;رسان اعزام می&zwnj;شود
            </span>
        </li>
    </ul>

    <h3>
        <span>
            خسارت شما پرداخت می شود
        </span>
    </h3>

    <ul>
        <li>
            <span>
                پس از پیگیری، هزینه خسارت به حساب بیمه گزار یا ارگان مربوطه واریز می شود
            </span>
        </li>
        <li>
            <span>
                اگر به هر دلیل امکان پرداخت خسارت حین سفر پیش نیاید، بیمه گزار پس از بازگشت با ارائه مدارک، خسارت خود را دریافت می کند
            </span>
        </li>
    </ul>

    <ul>
        <li>
            <span>
                &nbsp;
            </span>
        </li>
    </ul>

</InsuranceTemplate>

@code {

}
