@page "/about"

<footer class="flex flex-col flex-grow gap-2 p-2 bg-gray-200 flex-wrap">
    <section class="flex flex-row flex-wrap gap-2">
        <section class="flex flex-col flex-grow rounded shadow text-center items-center bg-gray-50">
            <span class="mr-4 mb-2 flex flex-col">
                <span class="font-bold text-3xl m-5">
                    بیمه سامان
                </span>
                <span class="font-bold text-2xl m-2">
                    <span>
                        نمایندگی:
                    </span>
                    <span>
                        <span>
                            کد 5168
                        </span>
                        <span>
                            (نصیری)
                        </span>
                    </span>
                </span>
                <span class="font-bold text-xl m-2">
                    <span>
                        کارشناس فروش:
                    </span>
                    <span>
                        محسن مهدوی
                    </span>
                </span>
                <span class="m-2">
                    <span>
                        سال اخذ نمایندگی:
                    </span>
                    <span>
                        1395
                    </span>
                </span>
            </span>
        </section>
        <section class="flex flex-col flex-grow p-4 rounded shadow bg-gray-50 gap-2">
            <span class="mb-3 font-bold text-xl m-1">راه های ارتباطی:</span>
            <span class="flex flex-row items-start gap-2">
                <span class="flex flex-row items-center">
                    تلفن ثابت:
                </span>
                <span class="flex flex-row flex-wrap justify-center items-center flex-grow gap-2">
                    <a href="tel:+982632252729" dir="ltr" class="bg-gray-100 font-bold text-xl flex flex-row items-center justify-center shadow rounded p-2">
                        +98 263 225 2729
                    </a>
                </span>
            </span>
            <span class="flex flex-row items-start gap-2">
                <span class="flex flex-row items-center">
                    تلفن همراه:
                </span>
                <span class="flex flex-row flex-wrap justify-center items-center flex-grow gap-2">
                    <a href="tel:+989192619702" dir="ltr" class="bg-gray-100 font-bold text-xl flex flex-row items-center justify-center shadow rounded p-2 border">
                        +98 919 261 9702
                    </a>
                    <a href="tel:+989300514104" dir="ltr" class="bg-gray-100 font-bold text-xl flex flex-row items-center justify-center shadow rounded p-2">
                        +98 930 051 4104
                    </a>
                </span>
            </span>
        </section>
    </section>
    <section class="flex flex-col p-3 rounded shadow bg-gray-50">
        <span class="flex flex-row flex-wrap font-bold">
            <span class="m-1">آدرس:</span>
            <span class="font-bold m-4">
                البرز - کرج - طالقانی جنوبی - خبایان 16 متری انقلاب - رو به روی خیابان بسیج - پلاک 84 - دفتر نمایندگی بیمه سامان
            </span>
        </span>
        <section class="flex flex-col m-2 shadow rounded">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.4327805778144!2d50.98736211553763!3d35.813856030293834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa05f2d8ce776fac0!2zMzXCsDQ4JzQ5LjkiTiA1MMKwNTknMjIuNCJF!5e0!3m2!1sen!2s!4v1639327376761!5m2!1sen!2s"
                    height="450"
                    class="flex-grow rounded shadow" allowfullscreen="" loading="lazy">
            </iframe>
        </section>
    </section>
</footer>

@code {

}
