@page "/insurances/car"

<InsuranceTemplate Title="بیمه بدنه">
    <p><strong><span>بیمه نامه بدنه</span></strong></p>
    <p><span>هر اتومبیلی، علاوه بر استهلاک طبیعی در معرض خطرات و حوادث فیزیکی غیر قابل پیش&zwnj;بینی قرار دارد که این خطرات ممکن است هزینه های سنگینی را برای شما ایجاد کنند. بیمه بدنه اتومبیل سامان این نوع هزینه&zwnj;ها را جبران می&zwnj;نماید</span></p>
    <p><span>حوادث تحت پوشش خواه اتومبیل در حال حرکت باشد یا در حال توقف عبارتند از</span> :</p>
    <p><span>آتش سوزی: خساراتی که در اثر آتش سوزی، صاعقه یا انفجار به اتومبیل و یا لوازم یدکی و اصلی همراه آن وارد گردد</span>.</p>
    <p><span>سرقت: سرقت کلی اتومبیل جزء خطرات اصلی بیمه بدنه است و همچنین خسارت ناشی از شروع به دزدی. اما سرقت جزیی اتومبیل (سرقت قطعات اصلی و وسائل منصوبه)، در حالت کلی تحت پوشش بیمه بدنه نیست و جزء خطرات اضافی بیمه بدنه است و بابت آن حق بیمه اضافی دریافت می&zwnj;شود</span>.</p>
    <p><span>خسارت&zwnj;های وارد شده به اتومبیل در صورتی مشمول بیمه است که در نتیجه تقصیر یا قصور خود شما (راننده اتومبیل بیمه شده) ایجاد شده باشد؛ در غیر این صورت، جبران آن بر عهده وارد کننده خسارت است که مشمول بیمه نامه شخص ثالث اتومبیل میباشد</span>.</p>
    <p><strong><span>بیمه نامه بدنه</span></strong><span>&nbsp;اتومبیل فقط در داخل خاک ایران اعتبار دارد و برای خارج از کشور نیازمند توافق خاص شما و شرکت&nbsp;<strong>بیمه سامان</strong>&nbsp;است</span>.</p>
    <p><strong><span>خطرات مورد تعهد</span>:</strong></p>
    <ul>
        <li><span>برخورد دو اتومبیل</span></li>
        <li><span>برخورد اتومبیل با یک جسم ثابت یا متحرک</span></li>
        <li><span>برخورد اشیا به اتومبیل (اتومبیل در حال حرکت یا ساکن)، چنانچه در حین حرکت اجزاء و یا محموله موضوع بیمه به آن برخورد نماید</span>.</li>
        <li><span>واژگون شدن اتومبیل</span></li>
        <li><span>سقوط اتومبیل</span></li>
        <li><span>خسارت باطری و لاستیک های چرخ موضوع بیمه در اثر هر یک از خطرات بیمه شده تا50 % قیمت نو قابل پرداخت است</span>.</li>
        <li><span>خسارتی که درجریان نجات و یا انتقال موضوع بیمه خسارت دیده به آن وارد شود</span>.</li>
        <li><span>پرداخت خسارتی که بیمه گذار مقصر حادثه نمی باشد</span>.</li>
    </ul>
    <p><span>نرخ حق بیمه بدنه اتومبیل</span></p>
    <p><strong><span>نرخ حق بیمه بدنه</span></strong><span>، و بر اساس نوع اتومبیل، قدرت موتور، تعداد سیلندر، قیمت روز اتومبیل و سایر مشخصات اتومبیل ارائه شده است. توجه کنید که اتومبیل سواری بالای 20 سال&nbsp;<strong>بیمه بدنه</strong>&nbsp;نمی&zwnj;شوند (به علت فرسودگی بدنه اتومبیل). اتومبیلهای زیر 20 سال سن نیز در 10 سال اول اضافه نرخ ندارند و طبق&nbsp;<strong>تعرفه حق بیمه</strong>&nbsp;آنها محاسبه می&zwnj;شود؛ اما از سال یازدهم به بعد هر سال 50% اضافه نرخ دارد؛</span></p>
    <p><span>1.با توجه به حسن سابقه بیمه ای کلیه بیمه گذاران برای انواع وسایل نقلیه در صورتی که در طول یکسال بیمه ای خسارت دریافت ننموده باشند تخفیف سابقه عدم دریافت خسارت لحاظ می شود :</span></p>
    <p><span>-تخفیف عدم خسارت سال اول 25%</span></p>
    <p><span>-تخفیف عدم خسارت سال دوم 35%</span></p>
    <p><span>-تخفیف عدم خسارت سال سوم 45%</span></p>
    <p><span>-تخفیف عدم خسارت سال چهارم 60%</span></p>
    <p><span>2.با توجه به امکان&nbsp;<strong>پرداخت اقساط حق بیمه بدنه</strong>&nbsp;در حالت کلی چنانچه&nbsp;<strong>پرداخت حق بیمه</strong>&nbsp;بصورت نقد و یکجا در زمان صدور بیمه نامه صورت پذیرد بیمه گذار شامل 10% تخفیف پرداخت نقدی می گردد.</span></p>
    <p><span>3.کارت طلایی به عنوان سابقه عدم خسارت تلقی نمی شود .</span></p>
    <ol start="4">
        <li><span> سابقه&nbsp;<strong>تخفیف عدم خسارت&nbsp;بیمه نامه بدنه</strong>شرکتهای بیمه دیگر در&nbsp;<strong>بیمه سامان</strong>پذیرش می شود.</span></li>
    </ol>
    <p><strong><span>5-5-3-&nbsp;تخفیف&nbsp;هیئت&nbsp;علمی:&nbsp;بیمه نامه بدنه&nbsp;</span></strong><span>اعضاء هیئت علمی شاغل در موسسات آموزشی و تحت نظر وزارت علوم، تحقیقات و فن آوری، شامل 20% تخفیف ویژه در حق بیمه&nbsp;<strong>بیمه نامه بدنه</strong>&nbsp;می باشد.</span></p>
    <p><span>نکته: ارائه اصل معرفینامه یا کارت شناسایی که قید شده در آن عضو هیئت علمی، از مراجع ذیربط الزامی است.</span></p>
    <p><strong><span>5-5-4- تخفیف صفر کیلومتر:</span></strong><span>کلیه خوروهایی که بیش از سه ماه از تاریخ شماره گذاری و تحوبل شان سپری نشده باشد شامل تخفیف صفر کیلومتر می شوند.</span></p>
    <p>&nbsp;</p>
</InsuranceTemplate>

@code {

}
