@page "/insurances/elevator"
<InsuranceTemplate Title="بیمه آسانسور">
    <p><span>بیمه آسانسور :</span></p>
    <p><span>بیمه&zwnj; آسانسور در واقع یک نوع بیمه مسئولیت مدنی است بدین معنی که چنانچه در اثر حوادث آسانسور ساکنین ساختمان مقصر شناخته شده و محکوم به جبران خسارات جانی و مالی شوند، شرکت بیمه آسانسور باید تمام خسارات ایجاد شده را جبران کند؛ هر چند بیمه آسانسور برای ساختمان اجباری نیست اما در صورت بروز حادثه و نداشتن بیمه آسانسور ساکنین مجبور به پرداخت خسارات وارده می&zwnj;باشند و از آنجایی که خسارات وارده معمولا جانی است مبلغ خسارت به&zwnj;وجود آمده بسیار هنگفت است</span>.</p>
    <p><span>هزینه بیمه آسانسور به عوامل مختلفی از جمله موارد زیر بستگی دارد</span>:</p>
    <ul>
        <li><span>نوع کاربری آسانسور</span></li>
        <li><span>ظرفیت آسانسور</span></li>
        <li><span>تعداد توقفات آسانسور</span></li>
    </ul>
    <p><span>در برخی از شرکت&zwnj;های بیمه موارد زیر به حق بیمه آسانسور اضافه می&zwnj;شود</span></p>
    <ul>
        <li><span>بیمه آسانسور برای آسانسور&zwnj;های بالای 10 توقف 10درصد به حق بیمه آسانسور اضافه می&zwnj;شود</span></li>
        <li><span>بیمه آسانسور در ساختمان&zwnj;های تجاری و اداری 10 درصد به حق بیمه آسانسور اضافه می&zwnj;شود</span></li>
    </ul>
    <p><span>معمولا حق بیمه آسانسور به&zwnj;طور سالانه برابر با حق سرویس و نگهداری ماهانه آسانسور شما می&zwnj;باشد</span></p>
    <p><span>بیمه آسانسور در صورت بروز حوادث چه&zwnj;میزان خسارت می&zwnj;پردازد؟</span></p>
    <p><span>سقف غرامت پرداختی بیمه آسانسور بر اساس ظرفیت آسانسور متغیر است؛ </span></p>
    <p>&nbsp;</p>
    <p><span>غرامت جانی هر نفر در هر حادثه در ماه&zwnj;های حرام:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
    <p><span>غرامت جانی هر نفر در حادثه در ماه&zwnj;های عادی:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
    <p><span>هزینه پزشکی هر نفر در هر حادثه حداکثر:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
    <p><span>بیمه آسانسور باید توسط هیئت مدیره و یا مدیر ساختمان به نمایندگی از تمام ساکنین اخذ شود؛ در ابتدا مدیر ساختمان باید با یک شرکت سرویس و نگهداری آسانسور که دارای مجوز و پروانه فعالیت است، قرارداد سالانه&zwnj;ی سرویس و نگهداری ببندند و از طریق شرکت آسانسوری اقدام به اخذ بیمه آسانسور کنند.</span>.</p>
</InsuranceTemplate>
@code {

}
