@page "/insurances/mobile"

<InsuranceTemplate Title="بیمه موبایل" Href="https://di.si24.ir/?AgentCode=1150500000-51681166-51681166-m100">
    <section class="overflow-auto mb-2 bg-gray-50 shadow rounded">
        <Equipment />
    </section>
    <section class="flex flex-col flex-1 justify-end bg-blue-200 p-2 gap-2 shadow-lg rounded-lg">
        <p class="font-600 overflow-hidden m-0 p-0">
            با وارد کردن کد تخفیف هنگام خرید از
            <span class="font-bold text-xl text-red-600 text-shadow">50%</span>
            تخفیف بیمه بهرمند شوید
        </p>
        <section class="flex flex-row items-center text-white p-2 bg-blue-600 shadow-lg rounded-lg">
            <span class="text-2xl">
                کد تخفیف:
            </span>
            <span class="flex-1 text-3xl font-bold text-center text-shadow">
                zisa5168
            </span>
        </section>
    </section>
</InsuranceTemplate>

@code {

}
