@page "/insurances/thridparty"

<InsuranceTemplate Title="بیمه شخص ثالث" Href="https://agentpwa.si24.ir/home/thirdpartybuy?t=dec7008c-b00d-4d97-b348-36475a6003c7">
    <p dir="RTL">
        <a name="_Hlk94218743"><strong>بیمه شخص ثالث اتومبیل</strong></a>
        <strong></strong>
    </p>
    <p dir="RTL">
        آیا تا کنون تصادف یا حادثه ای در حین رانندگی برایتان پیش آمده است؟ اگر
        تجربه چنین اتفاق‌هایی را داشته باشید، بی شک اولین موضوعی که به ذهن راننده
        پس از تصادف خطور می‌کند سلامت سرنشینان خودرو و میزان خسارت وارد شده به
        خودروی مقابل است.
        <br />
        بیمه شخص ثالث یکی از انواع بیمه‌های مسئولیت است که مسئولیت راننده را در
        مقابل اشخاص دیگر (ثالث) بیمه می‌کند. منظور از شخص ثالث، کلیه اشخاص بغیر از
        راننده مسبب حادثه است که در اثرحوادث وسائل نقلیه موتوری زمینی د چار زیانهای
        بدنی و یا مالی می‌شوند؛ اعم از اینکه داخل و یا خارج از وسیله نقلیه بیمه شده
        باشند،
        <br />
        براساس قانون، کلیه دارندگان وسایل نقلیه موتوری زمینی وظیفه دارند تا مسئولیت
        خود را که در اثر حوادث وسایل نقلیه مزبور یا محموله‌های آنها اشخاص ثالث زیان
        وارد نماید بیمه کنند
        <br />
        در بسیاری از تصادفات، هزینه‌های وارده بسیار سنگین و خارج از توان راننده
        است. در این صورت بیمه شخص ثالث خسارت جانی و مالی وارده به افراد دیگر را
        جبران و هزینه‌ها را پوشش می‌دهد.
    </p>
    <p dir="RTL">
        <strong>راهنمای خرید آنلاین</strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        <strong> </strong>
        <strong>مشخصات اولیه</strong>
    </p>
    <p dir="RTL">
        در صورت درخواست پسورد هنگام ورود، یکبار برگشت بزنید ودوباره وارد شوید
    </p>
    <p dir="RTL">
        در این مرحله استعلام مشخصات بیمه نامه شخص ثالث خود را بر اساس کد ملی یا کد
        یکتای بیمه نامه وارد نمایید.
    </p>
    <p dir="RTL">
        <strong>نوع خودرو</strong>
    </p>
    <p dir="RTL">
        در این جا نوع خودرو و شروع بیمه نامه را مشخص نمایید ودرصد تخفیف را چک
        نمایید و مبلغ مالی را وارد نمایید.
    </p>
    <p dir="RTL">
        <strong> </strong>
        <strong>قیمت بیمه نامه</strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        با توجه به سابقه بیمه و مشخصات انتخابی ، قیمت بیمه نامه مشخص می شود
    </p>
    <p dir="RTL">
        <strong>مشخصات و آدرس</strong>
    </p>
    <p dir="RTL">
        تارخ تولد را وارد کنید مشخصات خودتان راچک کنید شماره موبایل وآدرس و نوع
        گواهینامه را وارد کنید
    </p>
    <p dir="RTL">
        <strong> </strong>
        <strong>صدور بیمه نامه</strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        در صورت تایید بودن مشخصات خودرو طبق کارت خودرو و بیمه نامه ، روی گزینه
        پرداخت کلیک کرده تا به درگاه پرداخت متصل شوید
    </p>
    <p dir="RTL">
        <strong>دریافت کد یکتا</strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        بعد از پرداخت حق بیمه ، بیمه نامه شخص ثالث شما صادر شده و پیامک متنی به
        شماره موبایل شما ارسال می گردد.و نیز میتوانید با وارد شدن در لینک فرستاده
        شده بیمه نامه را پرینت بگیرید.
    </p>
</InsuranceTemplate>

@code {

}
